@keyframes animateOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.animateLoading {
  animation: animateOpacity infinite 0.8s linear;
}

.ticketsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
