.ticketLayout {
  padding: 20px;
}

.flexRowSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: #2196f3;
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
}

.flexRow {
  width: 100%;
  display: flex;
  align-items: center;
}

.elemWidth {
  width: 33.33%;
}

.elemGray {
  color: #a0b0b9;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.elemBlack {
  color: #4a4a4a;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
}

.marginTop20 {
  margin-top: 20px;
}
.marginTop10 {
  margin-top: 10px;
}
