.centerContainer {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.micButtonContaineer {
  height: var(--button-height);
  width: 25%;

  font-family: Verdana;
  font-size: var(--font-size-22);
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.5px;
  border: 1px solid #dfe5ec;
  border-radius: var(--border-radius-15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background-color: red;
}

@keyframes logo-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.micButtonContaineerOn {
  animation: logo-opacity infinite 2s linear;
}

.micButtonContaineerOff {
  opacity: 0.5;
  background-color: grey;
}

.micButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wordContainer {
  display: flex;
  align-items: center;
  margin: 20px 20px 0 20px;

  font-family: Verdana;
  font-size: var(--font-size-28);
  font-style: normal;
  font-weight: 900;
  line-height: var(--font-size-28); /* 166.667% */
  letter-spacing: 0.5px;
}

.black {
  color: #000;
}

.grow {
  flex-grow: 2;
}

.index {
  width: 48px;
}

.grey {
  color: grey;
}

.totalLine {
  padding-top: 14px;
  border-top: solid 5px #aaa;
}
