.tabsGroup {
  margin: 20px;
  flex-shrink: 0;
  font-family: Verdana;
  font-size: var(--font-size-22);
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: stretch;
  background-color: #fff;
  border: 2px solid #dfe5ec;
  border-radius: var(--border-radius-5);
}

.tab {
  height: 50px;
  width: 25%;
  color: #4a4a4a;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tab:hover {
  color: #2196f3;
}

.middleTab1 {
  border-left: 2px solid #dfe5ec;
}

.middleTab2 {
  border-left: 2px solid #dfe5ec;
  border-right: 2px solid #dfe5ec;
}

.activeFirstTab {
  color: #fff;
  background-color: #2196f3;
  border-radius: var(--border-radius-5) 0 0 var(--border-radius-5);
}
.activeFirstTab:hover {
  filter: brightness(0.9);
  color: #fff !important;
}

.activeMiddleTab {
  color: #fff;
  background-color: #2196f3;
}
.activeMiddleTab:hover {
  filter: brightness(0.9);
  color: #fff !important;
}

.activeLastTab {
  color: #fff;
  background-color: #2196f3;
  border-radius: 0 var(--border-radius-5) var(--border-radius-5) 0;
}
.activeLastTab:hover {
  filter: brightness(0.9);
  color: #fff !important;
}
