.layout {
  width: 274px;
  flex-shrink: 0;
  padding: 20px 0 10px 0;
}

.devider {
  width: calc(100% - 40px);
  height: 2px;
  background-color: #4a4a4a;
  margin: 20px 20px;
}

.header {
  padding: 10px 20px;
  color: #4a4a4a;
  font-family: Verdana;
  font-size: var(--font-size-22);
  font-style: normal;
  font-weight: 600;
  line-height: 12px; /* 100% */
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.itemContainer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 0px 20px;
}
.itemContainer:hover {
  background: #f1fcff;
}

.itemSubcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.itemText {
  color: #4a4a4a;
  font-family: Verdana;
  font-size: var(--font-size-22);
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 153.846% */
}
