.layout {
  margin: 20px 20px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 20px;
}
.centerContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.micButtonContainer {
  height: var(--button-height);
  width: 25%;

  font-size: var(--font-size-22);
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.5px;
  border: 1px solid #dfe5ec;
  border-radius: var(--border-radius-15);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background-color: red;
}

@keyframes logo-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.micButtonContainerOn {
  animation: logo-opacity infinite 2s linear;
}

.micButtonContainerOff {
  opacity: 0.5;
  background-color: grey;
}

.micButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wordContainer {
  display: flex;
  align-items: center;
  padding: 20px 20px 10px 20px;

  font-size: var(--font-size-28);
  font-style: normal;
  font-weight: 600;
  line-height: 1.25; /* 166.667% */
  letter-spacing: 0.5px;
}

.black {
  color: #000;
}

.grow {
  flex-grow: 2;
}

.index {
  width: 48px;
}

.grey {
  color: grey;
}
.red {
  color: red;
}

.totalLine {
  padding: 20px 0 14px 0;
  border-top: solid 5px #aaa;
}

.flexGrow {
  flex-grow: 2;
}

.blueColor {
  color: rgb(36, 138, 238);
}
